/* ----------------------------------------------------- */


/*    Author  : Maamar MEZIANE meziane_maamar@yahoo.fr   
      Date    : 02/05/2021   
      Version : V.1.0/

/* GOLABLE */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* --------------------------------------------------------- */

html {
    height: 100%;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    background-color: #fff;
    margin: 0;
}


/* typa */


/* ---------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: #da5488;	 */
    line-height: 1.2;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    margin: 20px 0 0 0;
}

h1 {
    font-size: 45px;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 60px;
    text-align: center;
}

h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


/* others */

img {
    vertical-align: bottom;
}

p {
    margin: 0 0 20px 0;
}

figure {
    margin: 0;
}

blockquote {
    margin: 20px 40px;
}


/* link */


/* -------------------------- */

a {
    color: #399be5;
}

a:hover {
    text-decoration: none;
}


/* forms */

fieldset {
    margin: 0 0 20px 0;
    padding: 20px;
    border: 1px solid #e8c8c9;
    border-radius: 0;
    background: #fafafa;
}

input,
label,
select {
    display: block;
    font-family: 'Barlow' sans-serif;
    font-size: 16px;
}

label {
    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
}

label.required:after {
    content: '*'
}

textarea,
input {
    width: 557px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e8e8e9;
    font-size: 16px;
    background-color: #fff;
    box-shadow: none;
}

textarea:hover,
input:hover {
    border-color: #ceced8;
}

textarea:focus,
input:focus {
    border-color: #035f60;
}

textarea {
    resize: none;
    min-height: 300px;
    max-height: 500px;
}


/* input[type="file"] {
	width: 100%;
	margin-bottom: .71875em;
	padding-bottom: .23958em;
} */

input[type='submit'] {
    width: initial;
    cursor: pointer;
    color: rgb(15, 14, 14);
    background-color: rgb(88, 169, 216);
}

:-webkit-input-placeholder {
    color: #c8c9ca;
}

:-moz-placeholder {
    color: #c8c9ca
}

:-moz-placeholder {
    color: #c8c9ca
}

:-ms-placeholder {
    color: #c8c9ca
}

:-ms-placeholder {
    color: #c8c9ca
}


/* BUTTONS */


/* -------------------------- */

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 2;
    border: none;
    color: #333;
    background-color: #efc974;
    transition: all 0.3s ease-in-out;
    /* margin-bottom: 20px; */
}

.btn:hover {
    background-color: #efd6a0;
    color: rgb(124, 58, 58);
}

.btn-secondary {
    line-height: 2;
    color: #333;
    background-color: transparent;
    font-size: 14px;
    border: 1px solid;
}

.btn-secondary:hover {
    color: #333;
    background-color: #a8c4dc;
}


/* inter-compatibilité des navigateurs */


/* ........................................ */

.browser {
    background-color: #f19a2a;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.browser {
    color: #005f86;
}


/* helpers */


/* ..................................... */


/* ................................................. */


/* LAYOUT */


/* .................................................... */

.wrap {
    max-width: 1600px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative;
    /* overflow: hidden; */
    background-image: url(./images/saut-head.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 50vh;
    /* width: 80vw; */
}

.header-who {
    background-image: url(../images/qui-sommes-nous.jpg);
}

.header-top {
    display: flex;
    align-items: center;
    background-color: rgba(39, 89, 128, 0.5);
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 1000;
}


/* logo */

.logo {
    flex-basis: 300px;
}

.logo h1 {
    margin: 0;
}

.logo h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
}

.logo span {
    font-size: 40px;
}


/* nav */


/* ----------------------------- */

.menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    font-size: 16px;
}

.menu a::after,
.menu .current::after {
    display: block;
    content: '';
    width: 0;
    margin: 0 auto;
    height: 2px;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

.menu a:hover::after,
.menu .current::after {
    width: 100%;
}

.header-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title p {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Barlow Condensed' sans-serif;
    font-weight: 600;
}


/*----------------ajoute ----------------------------*/

nav .mainMenu li a {
    display: inline-block;
    text-decoration: none;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

@media(max-width: 800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}


/* main */

.content {
    max-width: 1280px;
    margin: 0 auto;
}


/* article */


/* ................................. */

.art {
    padding: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-top: 1px solid #333;
}

.art:last-child {
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.art-first {
    margin-right: 20px;
}

.art-second {
    width: 560px;
    /* flex-basis: 560px; */
    margin-right: 20px;
    margin-top: 0;
}

.art-third {
    width: 220px;
    /* flex-basis: 220px; */
    background-color: #2a446b;
    color: #fff;
    padding: 80px 20px;
    text-align: center;
}

.art-third span {
    display: block;
    font-size: 40px;
}

.level {
    font-family: 'Barlow Condence', sans-serif;
    font-weight: 600;
    color: #349ce7;
    text-transform: uppercase;
}

.level span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border: 1px solid #349ce7;
    border-radius: 50%;
}

.bullet-current {
    background-color: #349ce7;
}

.btn-home {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.btn-home:before,
.btn-home:after {
    transition: all .3s ease-in-out;
    display: block;
    content: '';
    width: 80%;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
}

.btn-home:before {
    margin-bottom: 5px;
}

.btn-home:after {
    margin-top: 5px;
}

.btn-home:hover:before,
.btn-home:hover:after {
    width: 100%;
}


/* more */


/* ------------------- */

.flex {
    display: flex;
    align-items: flex-start;
}

.more .flex {
    background-color: #86Accc;
    padding: 60px 20px;
    text-align: center;
}

.more article {
    padding: 0 40px;
}


/* products */


/* ......................... */

.products {
    background-color: #2a446b;
    padding: 60px 20px;
    margin-bottom: 40px;
}

.products article {
    flex-basis: 375px;
    margin: 0 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.products img {
    transition: all 0.3s;
    opacity: 0.7;
    transform: scale(1.15);
}

.products article:hover img {
    transform: scale(1);
}

.products div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    transition: all 0.3s;
}

.products article:hover div {
    background-color: rgba(25, 39, 62, 0.62);
}

.products h3 {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin-top: 100px;
    transition: all 0.3s;
}

.products article:hover h3 {
    margin-top: 80px;
}

.products a {
    opacity: 0;
    transition: all 0.3s;
}

.products article:hover a {
    opacity: 1;
}


/* Price */


/* ........................................ */

.art-price {
    margin: 0 20px 0 0;
    flex-basis: 414px;
}

.art-price:last-child {
    margin-right: 0;
}


/* from */


/* ................................ */

form {
    background-color: #86accc;
    padding: 20px;
}

form>div {
    width: 580px;
    margin: 0 20px;
}

.adresse {
    width: 400px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 40px;
}


/* aside */


/* footer */


/* ....................... */

footer {
    text-align: center;
    background-color: #2a446b;
    color: #fff;
    padding: 20px;
}

footer p {
    margin: 0;
}

.mentions a {
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}

.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 40px;
    background-color: #333;
    color: #fff;
}

.totop {
    margin: 0;
    font-size: 35px;
}


/*-------------------------------------layout------------------------------------------*/


/*-------------------style_navigation............*/

form,
ul.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

@media all and (max-width: 480px) {
    form,
    ul.menu {
        flex-direction: column;
    }
}

@media all and (max-width: 760px) {
    form,
    ul.menu {
        justify-content: space-around;
    }
}


/*--------------menu burger...............*/